@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-bar { transition: ease 0.3s width; width: 250px; }
#nav-bar .bi\:navbar-link, #nav-bar .bi\:navbar-title { height: 21px; }
#nav-bar.collapsing { width: 50px; }
#nav-bar.collapsing .bi\:navbar-label { display: none; }
#nav-bar.collapsing .bi\:navbar-title { visibility: hidden; }
#nav-bar.collapsed { width: 50px; }
#nav-bar.collapsed .bi\:navbar-label { display: none; }
#nav-bar.collapsed .bi\:navbar-title { visibility: hidden; }
#nav-bar.expanding { width: 250px; }
#nav-bar.expanding .bi\:navbar-label { display: none; }
#nav-bar.expanding .bi\:navbar-title { visibility: hidden; }
#nav-bar.expanded { width: 250px; }
#nav-bar.expanded .bi\:navbar-label { display: inline-block; }
#nav-bar.expanded .bi\:navbar-title { visibility: visible; }

.bi\:table-container { height: 500px; }
.bi\:loader { top: 50%; right: 50%; margin-top: -22px; margin-right: -22px; }
.bi\:filter-dropdown { top: 40px; }

.multiselect__tags { @apply rounded-none !important; }
.multiselect__tag { @apply text-sm !important; }
.multiselect__tag { @apply bg-gray-600 text-white !important; }
.multiselect__tag-icon { @apply bg-gray-600 !important; }
.multiselect__tag-icon::after { @apply text-white !important; }
.multiselect__tag-icon:hover { @apply bg-gray-600 text-white !important; }
.multiselect__tag-icon::after:hover { @apply text-white !important; }
.multiselect__single { @apply text-sm !important; }
.multiselect__input { @apply text-sm  !important; }
.multiselect__placeholder { @apply text-sm !important; }
.multiselect__option { @apply text-sm !important; }
.multiselect__option--highlight { @apply bg-gray-400 text-white !important; }
.multiselect__option--highlight::after { @apply bg-gray-400 text-white !important; }
.multiselect__content-wrapper { @apply overflow-x-hidden !important }

.c-pane-container { @apply font-lato !important; }
.c-arrow { width: 20px !important; height: 20px !important; }
.c-title { @apply text-sm !important; }
.c-weekdays { @apply text-xs !important; }
.c-day-content { @apply text-xs !important; height: 25px !important; width: 25px !important;}
.c-pane { @apply min-w-0 !important; width: 200px; }
.c-table-cell { @apply text-xs !important;}
.c-day-background { @apply bg-gray-600 !important; height: 25px !important; } 

[v-cloak] { display: none;}